
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0px;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  background-color: #007BFF;
  padding: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

h2 {
  color: #333;
  margin-top: 100px;
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-left: 15px;
  text-align: center;
}



/* Mexendo na tabela de ESCOLA */

.tabela_escolas_cadastradas {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto; /* centraliza horizontalmente */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.tabela_escolas_cadastradas  th {
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 16px;
}

.tabela_escolas_cadastradas td {
  padding: 8px;
  border-bottom: 1px solid black;
}

.tabela_escolas_cadastradas tr:hover {
  background-color: #f1f1f1;
}


/* Link botao EDITAR tabela */

.tabela_escolas_cadastradas a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.tabela_escolas_cadastradas a:hover {
  text-decoration: underline;
}



/* Mexendo nos botoes de cadastrar escola e voltar */

.botoes-acao {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.botao {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.botao:hover {
  background-color: #0056b3;
}


/* cMexendo no Formulario de cadastrar colegio */

.form_cadastrar_escola {
  background-color: white;   
  padding: 20px;             
  width: 60%;                
  margin: 30px auto;         
  border-radius: 8px;       
  text-align: center;          
}



.form_cadastrar_escola label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.form_cadastrar_escola input[type="text"] {
  width: 30%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.form_cadastrar_escola input[type="submit"] {
  width: 10%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.form_cadastrar_escola input[type="submit"]:hover {
  background-color: #a8a8a8;
}

